.back-image {
    background-image: url(../../assets/images/cover/f1-cover.webp);
    opacity: 0.5;
    width: 100%;
    height: 32.8rem;
}

.booking {
    width: 100%;
    margin-top: -16.3rem;
    display: flex;
    gap: 12.7rem;
}

.info-ticket {
    max-width: 29.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.info-movie {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.info-movie__title {
    font-size: 2.4rem;
    font-weight: var(--fontW7);
}

.info-movie img {
    width: 100%;
    height: 39.3rem;
}

.info-cinema {
    display: flex;
    flex-direction: column;
    gap: 4.0rem;
}

.info-ticket__cinema {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.steps {
    display: flex;
    align-items: center;
}

.step {
    display: flex;
    align-items: center;
    position: relative;
}

.step__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step label {
    position: absolute;
    top: -2.4rem;
}

.circle {
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 100%;
    background-color: var(--bg-disable);
    border: 1px solid var(--color-borderBox);
}

.circle.active {
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
}


.line {
    width: 25.3rem;
    height: 2px;
    background-color: var(--bg-disable);
}

.line.active {
    background-color: var(--color-yellow);
}

.cinema-address {
    color: var(--positive);
    font-size: 1.2rem;
}

.days {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow-x: auto;
}

.day {
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--color-borderBox);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.day.active {
    border: 1px solid #fff;
}

.info-ticket__times {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4.9rem, 6.9rem));
    gap: 8px;
    max-width: 29.6rem;
    width: 100%;
}

.time {
    display: flex;
    font-size: 1.2rem;
    border: 1px solid var(--color-borderBox);
    border-radius: 4px;
    height: 3.2rem;
    align-items: center;
    justify-content: center;
}

.time.active {
    border: 1px solid #fff;
}

.time.disable {
    border: 1px solid var(--color-disable);
    background-color: var(--color-disable);
    color: var(--text-colorBox);
    cursor: not-allowed;
}

.info-selection__stage {
    margin-top: 10.5rem;
}

.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage__seats {
    max-width: 43.2rem;
    width: 100%;
    margin-top: 6rem;
}

.stage__screen svg {
    width: 50rem;
    height: 6.9rem;
}

.seats {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    column-gap: 8px;
    row-gap: 1.6rem;
}

.seats span {
    height: 1.6rem;
    background-color: #fff;
}

.seats-count {
    margin-top: 3.2rem;
}

.counter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-chair {
    width: 2.0rem;
    height: 1.6rem;
}

.seats-count {
    color: var(--positive);
}

.stage__seats-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 5.1rem;
}

.guide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.guide svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.available {
    color: #fff;
}

.reserved {
    color: var(--color-reserved);
}

.selected {
    color: var(--color-yellow);
}
