.mt-section {
    margin-top: 7.6rem;
}

.background-img {
    width: 100%;
    max-height: 103.8rem;
    height: 100%;
}

.wrapper-content {
    height: 100%;
    background-image: url(/assets/images/back.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.advert {
    max-width: 74.3rem;
    width: 100%;
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(6.2rem);
    animation: moveUpAdvert 320ms linear forwards;
}

@keyframes moveUpAdvert {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.advert__title {
    font-size: 4rem;
    font-weight: var(--fontW6);
    line-height: 1.3;
    text-align: center;
}

.advert__text {
    margin-top: 3.7rem;
}

.advert__btn {
    margin-top: 6.6rem;
}

.advert__btn-explore {
    max-width: 18.1rem;
    width: 100%;
    height: 4.8rem;
    background-color: var(--color-yellow);
    color: var(--color-black);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
    padding: 6px;
}

.statistics {
    max-width: 77.4rem;
    width: 100%;
    height: 9.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    margin: 10rem 0 2.4rem;
    opacity: 0;
    transform: translateY(4.2rem);
    animation: moveUpStatistics 360ms 320ms linear forwards;
}

@keyframes moveUpStatistics {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.statistics__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.statistics__movie,
.statistics__cinema,
.statistics__happy {
    font-size: 2.4rem;
    font-weight: var(--fontW7);
}

.sections {
    width: 100%;
    height: 51.8rem;
}

.top-movie-week {
    margin-top: 10.4rem;
}

.now-in-cinema__title,
.top-movie-week__title {
    font-size: 2.8rem;
    font-weight: var(--fontW7);
}

.now-in-cinema__description,
.top-movie-week__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}


.now-in-cinema__description-text,
.top-movie-week__description-text {
    color: #E0E0E4;
    margin-top: 1.8rem;
}

.now-in-cinema__description-more,
.top-movie-week__description-more {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.now-in-cinema__boxes,
.top-movie-week__boxes {
    width: 100%;
    height: 40.5rem;
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 3.6rem;
}

.box {
    max-width: 22.5rem;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--color-black);
    border-radius: 0.4rem;
    border: 1px solid var(--color-borderBox);
    overflow: hidden;
}

.now-in-cinema__boxes::-webkit-scrollbar {
    display: none;
}

.box__image {
    width: 100%;
    height: 31.636rem;
    background-color: var(--color-black);
}

.image__movie {
    width: 100%;
    height: 100%;
}

.box__description {
    padding: 10px 12px;
    width: 100%;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__title-score {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box__title {
    font-size: 1.6rem;
    font-weight: var(--fontW6);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;

}

.box__score,
.box__genre,
.box__movie-time {
    font-size: 1.2rem;
}

.box__genre,
.box__movie-time {
    color: var(--text-colorBox);
}

.box__score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.icon-star {
    width: 1.4rem;
    height: 1.3rem;
}

.score__number {
    display: flex;
    align-items: center;
    justify-content: center;
}


.box__category {}

.box__movie-time {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.icon-clock {
    width: 1.4rem;
    height: 1.4rem;
    color: #fff;
}

.hero__wrapper {
    width: 100%;
    /* height: 50.3rem; */
    display: flex;
    align-items: center;
    flex: 1;
    /* flex-wrap: wrap; */
}

.hero__left {
    width: 100%;
    height: 100%;
}

.hero__image {
    width: 100%;
    height: 100%;
}

.hero__right {
    padding: 9.65rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.hero__title {
    font-size: 3.2rem;
    font-weight: var(--fontW6);
    line-height: 1.5;
}

.hero__text {
    font-size: 2.0rem;
    line-height: 1.7;
}

.hero__btn {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 8.0rem;
}

.hero__ticket,
.hero__more {
    height: 4.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.hero__ticket {
    max-width: 19.2rem;
    width: 100%;
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.hero__more {
    max-width: 14.9rem;
    width: 100%;
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
}

.hero__brand-trust {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.359rem;
    margin-top: 6.2rem;
}

.brand-trust__image {
    max-width: 18.155rem;
    width: 100%;
    margin-top: 1rem;
}

.faq,
.faq__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.faq {
    max-width: 76.8rem;
    margin-left: auto;
    margin-right: auto;
}

.faq__title {
    font-size: 3.2rem;
    font-weight: var(--fontW6);
}

.faq__text {
    font-size: 1.8rem;
    margin-top: 1.6rem;
}

.faq__questions {
    gap: 1.8rem;
    margin-top: 8.0rem;
}

.question {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.question__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.5rem;
    background-color: var(--bg-faq);
    border-radius: 8px;
    padding: 2.0rem 2.4rem;
}

.question__title {}


.icon-plus {
    cursor: pointer;
    transition: 260ms;
}

.question__answer {
    visibility: hidden;
    opacity: 0;
    height: 0;
    border-radius: 8px;
    transition: 260ms;
}

.question__answer.show {
    visibility: visible;
    opacity: 1;
    left: 0;
    right: 0;
    height: auto;
    background-color: var(--bg-faq);
    padding: 2.0rem 2.4rem;
}

.cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta__title {
    font-size: 2.8rem;
    font-weight: var(--fontW6);
}

.cta__text {
    color: var(--text-colorBox);
    margin-top: 2.6rem;
}

.cta__input-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
    max-height: 4.8rem;
    height: 100%;
    margin-top: 6.4rem;
}

.wrapper-email-box {
    position: relative;
    max-width: 38.9rem;
    width: 100%;
    height: 4.6rem;
    border: 1px solid var(--color-borderBox);
    border-radius: 0.4rem;
    font-size: 16px;
}

.cta__email {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    direction: rtl;
    padding: 0 1.2rem;
    position: relative;
    z-index: 12;
}

.email__placeholder {
    padding: 0 1.0rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.2rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    z-index: -1;
    transition: 160ms;
}

.placeholder__text {
    font-size: 1.4rem;
    color: var(--text-colorBox);
}

.icon-massage {
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta__input-send {
    max-width: 9.2rem;
    width: 100%;
    height: 4.6rem;
    border-radius: 0.4rem;
    background-color: var(--color-yellow);
    color: var(--color-black);
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.cta__email:focus+.email__placeholder {
    top: -3.2rem;
    bottom: 1.6rem;
    z-index: 1;
    background-color: var(--bg-body);
}

.loading {
    position: fixed;
    inset: 0;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}

.loading.hide{
    visibility: hidden;
    opacity: 0;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--text-colorBox);
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

/* .skeleton {
  background: linear-gradient(
    90deg,
    #eee 25%,
    #ddd 37%,
    #eee 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite;
  border-radius: 8px;
}

@keyframes shimmer {
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
} */

@media screen and (max-width:768px) {
    html {
        font-size: 8px;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer__description,
    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__links {
        margin-top: 3.2rem;
    }

    .hero__wrapper {
        flex-direction: column-reverse;
    }

    .background-img {
        justify-content: start;
    }

    .advert__btn {
        margin-top: 3rem;
    }

    .advert {
        margin-top: 10rem;
    }

    .advert__title {
        font-size: 2.5rem;
    }

    .advert__text {
        font-size: 1.5rem;
    }

    .statistics {
        margin-top: 0;
        font-size: 1rem;
    }

    .now-in-cinema__description-text,
    .top-movie-week__description-text {
        font-size: 1.2rem;
    }

    .brand-trust__image {
        max-width: 10rem;
    }
}

@media screen and (max-width:426px) {

    /* svg{
        width: 1.2rem;
        height: 1.2rem;
    } */
    html {
        font-size: 7px;
    }

    .statistics {
        font-size: 0.8rem;
    }
}