.chair {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    transition: 260ms;
    cursor: pointer;
}

.chair.active {
    color: var(--color-primary);
}

.icon-chair {
    width: 2.0rem;
    height: 1.6rem;
}

.available {
    color: #fff;
}

.reserved {
    color: #3A3A04;
}

.selected {
    color: var(--color-primary);
}