.hidden-elems-top {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-20%) scale(0.85);
    transition: all 500ms;
}

.animation-loaded-top {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);

}

@media(prefers-reduced-motion) {
    .hidden-elems-top {
        transition: none;
    }
}

.hidden-elems-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(20%);
    transition: all 1s ease;
}

.animation-loaded-right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
    .hidden-elems-right {
        transition: none;
    }
}