    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer__description">
                <div class="footer__logo">
                    <img src="assets/images/logo/Vector.svg" alt="" class="vector-logo">
                    <img src="assets/images/logo/Group.svg" alt="" class="text-logo">
                </div>
                <p class="footer__text">
                    لورم ایپسوم به سادگی متنی ساختگی در صنعت چاپ و حروفچینی است. لورم ایپسوم از دهه ۱۵۰۰ میلادی، متن
                    ساختگی استاندارد این صنعت بوده است، زمانی که یک
                </p>
                <div class="footer__social">
                    <img src="assets/images/social/instagram.svg" alt="" class="social__image">
                    <img src="assets/images/social/linkedin.svg" alt="" class="social__image">
                    <img src="assets/images/social/x-twitter.svg" alt="" class="social__image">
                </div>
            </div>
            <div class="footer__links">
                <div class="columns">
                    <div class="column">
                        <span class="column__title">پیدا کردن فیلم</span>
                        <div class="column__links">
                            <span class="column__link">در سینماها</span>
                            <span class="column__link">برترین فیلم‌ها</span>
                            <span class="column__link">به زودی</span>
                        </div>
                    </div>
                    <div class="column">
                        <span class="column__title">شرکت</span>
                        <div class="column__links">
                            <span class="column__link">درباره ما</span>
                            <span class="column__link">مشارکت‌ها</span>
                        </div>
                    </div>
                    <div class="column">
                        <span class="column__title">راهنما</span>
                        <div class="column__links">
                            <span class="column__link">تماس با ما</span>
                            <span class="column__link">اشتراک</span>
                            <span class="column__link">سوالات متداول</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>