.result {
    width: 100%;
}

.result:not(:last-child) {
    border-bottom: 1px solid var(--color-borderBox);
}

.search__result--show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 1rem 0;
    padding: 0 0.8rem;
}

.result__image {
    max-width: 8rem;
    width: 100%;
    height: 10rem;
    border-radius: 8px;
}