@font-face {
    font-family: 'vazir';
    src: url(../../assets/fonts/vazirmatn/Vazirmatn-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'vazir-bold';
    src: url(../../assets/fonts/vazirmatn/Vazirmatn-ExtraBold.ttf) format(truetype);
}
@font-face {
    font-family: 'vazir-mid';
    src: url(../../assets/fonts/vazirmatn/Vazirmatn-Medium.ttf) format(truetype);
}
